<h1>New gif</h1>
<% if @gif.errors.any? %>
  <div class="errors">
    <% @gif.errors.full_messages.each do |message| %>
      <%= message %>
      <br>
    <% end %>
    <br>
  </div>


<% end %>

<%= form_for @gif, url: {action: "create"} do |f| %>
  <div>
    <%= f.label :url %>
    <% if @gif.errors.any? %>
      <div class="errors" style="display:inline">
        <%= f.url_field :url %>
        <%= @gif.errors.messages[:url].first %>
      </div>

    <% else %>
      <%= f.url_field :url %>
    <% end %>

  </div>
  <div>
    <%= f.label :title %>
    <% if @gif.errors.any? %>
      <div class="errors" style="display:inline">
        <%= f.text_field :title %>
        <%= @gif.errors.messages[:title].first %>
      </div>

    <% else %>
      <%= f.text_field :title %>
    <% end %>

  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>